<!--<div class="container-fluid" style="height:900px;">-->

<div class="jumbotron text-center mt-4" style="background-color: #BEECF7; margin: 0 auto; padding: 5px; border-radius: 30px; width: 20%;">
  <h2 class="m-0">いいね投稿一覧</h2>
</div>
 
 <!--メッセージ-->
 <div class="row justify-content-md-center mt-2">
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%= link_to "マイページへ" , user_path(@user) %></h4>
 </div>



<!--一覧フォーム-->
 <div class="jumbotron text-center my-4" style="background-color: #d1e5d4; margin: 0 auto; padding: 5px; border-radius: 30px; width: 95%";>
<!--投稿が一件もないとき-->
　<!--投稿メッセージ-->
 <% if @favorite_posts.empty? %>
  <div class="row ml-5" style="height: 400px;">
   <h5><%= @message %></h5>
  <!--新規投稿リンク-->
  <br><h5><%= link_to "投稿を探す" , posts_path %></h5>
  </div>
  
<% else %>
<!--投稿があるとき-->
<div class="row">
 <!--投稿のカード-->
  <% @favorite_posts.each do |post| %>
   <tr>
   <div class="col-md-6 ">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250" style="background-color: #F1F8E1; border-radius: 30px;">
     <div class="card-body d-flex flex-column align-items-start">
      <strong class="d-inline-block mb-2 text-primary">
       <% post.tags.each do |tag| %>
        <%= link_to tag.name, tags_path, style: "display: inline-block; margin-right: 10px;" %>
       <% end %></strong>
       <h5 class="card-title">商品名：<%= link_to post.item_name, post_path(post.id)%></h5>
       <p class="card-text text-left">商品説明<br><%= post.item_description %></p>
       <p class="card-text small">いいね件数:<%= post.favorites.count %>件</p>
       <p class="card-text small">コメント件数:<%= post.post_comments.count %>件</p>
       
      <% if current_admin.present? %>
       <div class="card-text small">投稿者：<%= link_to post.user.name, admin_user_path(post.user_id) %></div>
      <% else %>
       <div class="card-text small">投稿者：<%= link_to post.user.name, user_path(post.user_id) %></div>
      <% end %>
     </div>
   </div>
   </div>
   </tr>
   <% end %>
   
   <div class ="row offset-9">
    <%#= paginate @posts, theme: 'twitter-bootstrap-4' %>
   </div>
  </div>
 
 <% end %>

</div>

<div class="row my-2 offset-8">
  <% if current_admin.present? %>
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%= link_to "管理人機能一覧へ", admin_path %></h4>
  <% else %>
  <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%=link_to "機能一覧へ", choice_path %></h4>
  <% end %>
 </div>
 
</div>
 