<div class="container">

 <!--ログインフォーム-->
 <div class="row center-block">
  
  <form class="form-signin p-15 m-auto pt-5">
    <img class="mb-4 ml-5" src="/assets/logo.png" alt="" width="72" height="72">
    <%= form_with model: @user, url: user_session_path do |f| %>
    <h1 class="h3 font-weight-normal">ログイン</h1>
    
  <div class="field">
    <%= f.label :email%>
    <br><%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
    <div class="checkbox mb-3">
    <% if devise_mapping.rememberable? %>
     <label>
      <input type="checkbox" value="remember-me"> Remember me
     </label>
    <% end %>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
    <% end %>
  </form>
  
