<div class="jumbotron text-center mt-4" style="background-color: #BDBDBD; text-white; margin: 0 auto; padding: 5px; border-radius: 30px; width: 30%;">
  <h2 class="m-0">タグリクエスト一覧</h2>
</div>

<!--メッセージ-->
 <div class="row justify-content-md-center mt-2">
  <div class="col-auto">
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BDBDBD;"><%= link_to "管理者トップへ" , admin_path %></h4>
  </div>
 </div>

 <!--会員一覧-->
 <div class="jumbotron text-center my-4 pt-3" style="background-color: #D9D9D9; margin: 0 auto; padding: 5px; border-radius: 30px; width: 90%;">
  <div class="row justify-content-md-center mt-2">
   <h4>リクエスト</h4>
  </div>
  
  <div class="row justify-content-md-center mt-2">
   <table class="table">
    <thead>
     <tr>
      <th scope="col">会員No.</th>
      <th scope="col">名前</th>
      <th scope="col">リクエスト内容</th>
     </tr>
    </thead>
    <tbody>
    <% @chats.each do |chat| %>
     <tr>
      <td><%= chat.id %></td>
      <td><%= chat.user.name %></td>
      <td><%= chat.content %></td>
      <td><%= link_to "削除", admin_chat_path(chat.id), method: :delete,  data: { confirm: '本当に消しますか？' } %></td>
     </tr>
    <% end %> 
    </tbody>
   </table>
  </div>
</div>