<!--タイトル-->
<%= render "user/homes/title" %>

 <!--メッセージ-->
 <div class="row justify-content-md-center mt-2">
  <h3 class><%= flash[:notice] %></h3>
 </div>
  
 <div class="row justify-content-md-center mt-2">
  
 <!--管理人の場合-->
 <% if current_admin.present? %>
  <div class="col-auto">
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%= link_to "投稿一覧" , posts_path %></h4>
  </div>
  <div class="col-auto">
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%= link_to "タグ管理" , admin_tags_path %></h4>
  </div>

 <!--ユーザーの場合-->
 <% else %>
  <div class="col-auto">
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%= link_to "投稿一覧へ" , posts_path %></h4>
  </div>
  <div class="col-auto">
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%= link_to "タグ依頼",new_chat_path %></h4>
  </div>
 <% end %>
 </div>
  
 <!--タグ一覧 (部分テンプレート)-->
 <%= render 'tags', tags: @tags %>

 <!--タグ詳細ページ-->
 <div class="jumbotron text-center my-4 pt-3" style="background-color: #d1e5d4; margin: 0 auto; padding: 5px; border-radius: 30px; width: 95%; height:400px;">
  <h2>タグ詳細</h2>
    <p>上記タグ一覧をクリックすると詳細をご覧いただけます。</p>
</div>
 
 <div class="row my-2 offset-8">
  <% if current_admin.present? %>
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%= link_to "管理人機能一覧へ", admin_path %></h4>
  <% else %>
  <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%=link_to "機能一覧へ", choice_path %></h4>
  <% end %>
 </div>
 
 
 
 