<div class="jumbotron text-center mt-4" style="background-color: #BEECF7; margin: 0 auto; padding: 5px; border-radius: 30px; width: 30%;">
 <h2 class="m-0">タグ参照ページ</h2>
</div>
  
  <div class="row justify-content-md-center mt-5">
   <h4 style="padding: 1rem 1rem; border-left: 6px double #000;"><%= link_to "投稿一覧へ" , posts_path %></h4>
  </div>

<%= render 'tags', tags: @tags %>
  
  <div class="row mt-5 mb-5 offset-5 text:enter-block pl-2", style="width:150px; border-bottom:3px solid #000;">
   <h2>詳細</h2>
  </div>
  
  <div class="row justify-content-around mt-5">
   <div class="col-6">

    <h5 style="padding: 1rem 2rem; border-left: 4px solid #000;">タグ名
     <br><%= @tag.name %></h5>
    <p style="padding: 1rem 2rem; border-left: 4px solid #000;">タグ説明
     <br><%= @tag.description %></p>
   </div>
   
  <div class="col-6">
   <p style="padding: 1rem 2rem; border-left: 4px solid #000;">タグイメージ
    <br> <div><%= image_tag @tag.image, size: "200x200" %></div></p>
  </div>
  </div>
</div>

   