 <div class="jumbotron text-center mt-4" style="background-color: #BEECF7; margin: 0 auto; padding: 5px; border-radius: 30px; width: 30%;">
  <h2 class="m-0">編集</h2>
 </div>
  
 <!--メッセージ--->
  <div class="row justify-content-md-center mt-2">
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%= link_to "戻る", :back %></h4>
  </div>
  
  
 <section class="jumbotron text-center mx-6 my-3" style="background-color: #d1e5d4;  width: 60%; margin: 0 auto; border-radius: 30px;">
 <div class="container">
  
 <h4 class="jumbotron-heading pb-3">ひとことの編集・追加</h4>
 
 <div class="row justify-content-md-center">
  <% if @user.email == 'guest@example.com'%>
   <p>ゲストユーザーはユーザー情報の編集ができません。</p>
  <% else %>
  
 <div class="row justify-content-md-center">
 <%= form_with model: @user, url: user_path(@user) do |f| %>
 
  <div class="form-group">
  <%= f.label:name , '名前の変更はできません。' %>
  </div>

  <div class="form-group">
    <%= f.label:introduction , '自己紹介' %>
    <%= f.text_area :introduction %>
  </div>
  
  <div class="form-group">
    <%= f.submit "編集する"  %>
  </div>
<% end %>
</div>
<% end %>
</div>
</div>
</section>

  <div class="row my-2 offset-9">
  <% if current_admin.present? %>
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%= link_to "管理人機能一覧へ", admin_path %></h4>
  <% else %>
  <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%=link_to "機能一覧へ", choice_path %></h4>
  <% end %>
 </div>
