<div class="container-fluid" style="height:900px;">
  
 <div class="row mt-5 mb-5 offset-5", style="border-bottom:3px solid #000;">
  <h2>マイページ</h2>
 </div>

 <div class = "row ml-3 mb-3">
  <h3 class>あなたのプロフィール</h3> 
 </div>

 <div class = "row m-3">
  <h4 style="padding: 1rem 2rem; border-left: 4px solid #000;">名前
  <br><%= @user.name %></h4>
 </div>
 
 <div class = "row m-3">
   <p style="fontsize:5px; padding: 1rem 2rem; border-left: 4px solid #000;">ひとこと
   <br><%= @user.introduction %></p>
  </div>
  <div class = "row m-3">
   <% if @user == current_user %>
   <div class="col-3">
    <%= link_to" ひとことを編集する", edit_user_path(@user.id)  %>
   </div>
   <div class="col-7 offset-2 ml-0">
    <%= link_to"退会する", confirm_withdraw_users_path(@user.id)  %>
   <% end %>
   </div>
  </div>

<div class="row">
  <% @post.each do |post| %>
   <tr>
   <div class="col-md-6 ">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
     <div class="card-body d-flex flex-column align-items-start">
      <strong class="d-inline-block mb-2 text-primary"><% post.tags.each do |tag| %><%= tag.name %><% end %></strong>
      <h3 class="mb-0">
       <h5 class="card-title">商品名：<%= link_to post.item_name, post_path(post.id)%></h5>
      </h3>
     <div class="mb-1 text-muted">投稿者：<%= link_to post.user.name, user_path(post.user_id)%></div>
     <p class="card-text">商品説明<br><%= post.item_description %></p>
     <p class="card-text small">いいね件数:<<%= post.favorites.count %> 件</p>
     <h9 class="card-text small">コメント件数:<%= post.post_comments.count %>件</h9>
    </div>
    <div class="card m-4" style="height:200px; width:200px;"><%= image_tag post.image, size: "100x100" %></div>
    </div>
   </div>
   </tr>
  <% end %>
  </div>
 
 <div class="row ml-2">
  <%= link_to "戻る" , choice_path %>
 </div>
 
 </div>