<!--welcomeメッセージとログイン表記-->
 <section class="jumbotron text-center mx-6 my-3" style="background-color: #BEECF7;  width: 90%; margin: 0 auto; border-radius: 30px;">
  <div class="container">
  <h1 class="jumbotron-heading">こんにちは！</h1>
   <p class="lead text-muted">ここは防災グッズの閲覧、投稿、検索ができるコミニュティサイトです。</p>
    <img class="rounded-circle" src="<%= image_path('top.jpg') %>" alt="" width="140" height="140">
    <div class="row justify-content-md-center">
     <% if user_signed_in? %>
     <p>
       <%= link_to "機能一覧へ", choice_path, class: "btn btn-primary my-2" %>
       <%= link_to "新規投稿へ", new_post_path, class: "btn btn-secondary my-2" %>
     </p>
     <% else %>
     <p>
      <%= link_to "会員登録", new_user_registration_path, class: "btn btn-primary my-2" %>
      <%= link_to "ログイン", choice_path, class: "btn btn-secondary my-2" %>
      <br><%= link_to 'ゲストログイン（閲覧用）', user_guest_sign_in_path, method: :post %></li>
     </p>
     <% end %>
    </div>
  </div>
 </section>
 
 <!--会員登録をせずに利用ができるコンテンツ紹介-->
 <section class="jumbotron text-center mx-6 mb-3" style="background-color: #d1e5d4; width: 90%; margin: 0 auto; border-radius: 30px;">

 <div class="container">
  
  <h4 class="jumbotron-heading">以下のコンテンツは会員登録をせずにご利用が可能です。</h4>
 
  <div class="row py-3 ">
   
   <div class="col-lg-4">
    <img class="rounded-circle" src="<%= image_path('goods.png') %>" alt="商品の閲覧" width="140" height="140">
        <h2>商品の一覧</h2>
        <p>実際に会員登録された方の<br>防災グッズを確認することができます。</p>
        <p><%= link_to "商品の一覧へ", posts_path, class: "btn btn-primary my-2" %>
   </div>
   <div class="col-lg-4">
    <img class="rounded-circle" src="<%= image_path('logo.png') %>" alt="商品の閲覧" width="140" height="140">
        <h2>サイト説明のご案内</h2>
        <p>本サイトの目的を<br>ご覧いただけます。</p>
        <p><%= link_to "aboutページへ", about_path, class: "btn btn-primary my-2" %>
   </div>
   </div>

  
  <hr class="featurette-divider">
  
  
 <!--会員登録するとできる機能の紹介-->
 <h4 class="jumbotron-heading mt-5 mb-2">また、会員登録をすると以下の機能をご利用いただけます。</h4>
 
 <div class="row-auto">
  
 <div class="row featurette">
  <div class="col-md-7 mt-4">
   <h3 class="featurette-heading">防災グッズの詳細の確認</h3>
     <p class="lead py-5">投稿された防災グッズの<br>名前や詳細をご確認いただけます。</p>
  </div>
  <div class="col-md-5 mt-4">
   <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 300px; height: 300px;" src="<%= image_path('show.png') %>" data-holder-rendered="true">
  </div>
</div>

 <div class="row featurette">
  <div class="col-md-7 mt-4">
   <h3 class="featurette-heading">会員様同士のコメント機能</h3>
     <p class="lead py-5">防災グッズ一つ一つに<br>コメント機能を設けております。<br>ぜひレビューや質問を共有してください。</p>
  </div>
  <div class="col-md-5 mt-4">
   <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 350px; height: 250px;" src="<%= image_path('comment.png') %>" data-holder-rendered="true">
  </div>
</div>

 <div class="row featurette">
  <div class="col-md-7 mt-4">
   <h3 class="featurette-heading">投稿グッズの検索</h3>
     <p class="lead py-5">防災グッズの名前や、タグ機能から、<br>投稿を検索することができます。</p>
  </div>
  <div class="col-md-5 mt-4">
   <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 350px; height: 250px;" src="<%= image_path('search.png') %>" data-holder-rendered="true">
  </div>
</div>

  </div>
  </div>
  </section>
  