<!--タイトル-->
<%= render "user/homes/title" , post: @post %>
 
 <!--メッセージ-->
 <div class="row justify-content-md-center mt-2">
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%= link_to '編集をやめる',  post_path(@post) %></h4>
 </div>
 
 <!--商品の編集-->
 <div class="jumbotron text-center my-4" style="background-color: #d1e5d4; margin: 0 auto; padding: 5px; border-radius: 30px; width: 95%">
  <div class="row justify-content-around mt-5">
   
  <!--旧投稿情報-->
  <div class="col-4">
   <h3>現在の投稿(now)</h3>
   <%= render 'item', post: @post %>
  </div>
 
  <!--新投稿情報-->
 <div class="col-4">
  <h3>投稿の編集(new)</h3>
  <h4 style="padding: 1rem 2rem;">グッズ画像
   <br><%= image_tag @post.image, size: "200x200" %></h4>
  
  
  <%= form_with model: @post, url: post_path(@post) do |f| %>
  
  <div class = "row-6 text-left">
   <div class="form-group">
       <%= f.label:image , 'グッズ画像'  %>
   <br><%= f.file_field :image, accept: "image/*" %>
   </div>
  </div>
  
  <div class = "row-6 text-left">
   <div class="form-group">
       <%= f.label:item_name , 'グッズ名' %>
   <br><%= f.text_field :item_name %>
   </div>
  </div>
  
  <div class = "row-6 text-left">
   <div class="form-group">
       <%= f.label:item_description , 'グッズ説明' %>
   <br><%= f.text_area :item_description %>
  </div>
 </div>
 
 <div class = "row-6 text-left">
  <div class="form-group">
   <%= f.submit "編集する"  %>
  </div>
 </div>
  
 <% end %>
 
 </div>
 
</div>

</div>

 <div class="row my-2 offset-10">
  <% if current_admin.present? %>
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%= link_to "管理人機能一覧へ", admin_path %></h4>
  <% else %>
  <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%=link_to "機能一覧へ", choice_path %></h4>
  <% end %>
 </div>
