<div class="container-fluid" style="height:900px;">
  
 <div class="row mt-5 mb-5 offset-5 text:enter-block pl-2", style="width:150px; border-bottom:3px solid #000;">
  <h2>投稿一覧</h2>
 </div>
 
 <div class="row justify-content-md-center">
  <div class="col-auto">
   <h4 style="padding: 1rem 1rem; border-left: 6px double #000;">検索は<%= link_to "こちら" , search_path %>からご利用ができます。</h4>
  </div>

  <div class="col-auto">
   <h4 style="padding: 1rem 1rem; border-left: 6px double #000;">新規投稿は<%= link_to "こちら" , new_post_path %>からご利用ができます。</h4>
  </div>
 </div>
 
<!--投稿が一件もないとき-->
　<!--投稿メッセージ-->
 <% if @posts.empty? %>
  <div class ="row ml-5">
   <p><%= @message %></p>
  </div>
  <!--新規投稿リンク-->
 <div class ="row ml-5">
 <div class="card m-4" style="height:300px; width:400px;">
  <div class="card-body">
   <h5 class="card-title">投稿する</h5>
   <p class="card-text"></p>
   <a href="/posts/new" class="btn btn-primary">クリック</a>
  </div>
 </div>
 </div>
 
<% else %>
<!--投稿があるとき-->
<div class="row">
 <!--投稿のカード-->
  <% @posts.each do |post| %>
   <tr>
   <div class="col-md-6 ">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
     <div class="card-body d-flex flex-column align-items-start">
      <strong class="d-inline-block mb-2 text-primary"><% post.tags.each do |tag| %><%= tag.name %><% end %></strong>
      <h3 class="mb-0">
       <h5 class="card-title">商品名：<%= link_to post.item_name, post_path(post.id)%></h5>
      </h3>
     <div class="mb-1 text-muted">投稿者：
      <% if current_admin.present? %>
       <div class="mb-1 text-muted">投稿者：<%= link_to post.user.name, admin_user_path(post.user_id) %></div>
      <% else %>
       <div class="mb-1 text-muted">投稿者：<%= link_to post.user.name, user_path(post.user_id) %></div>
      <% end %>
     </div>
      <p class="card-text">商品説明<br><%= post.item_description %></p>
      <p class="card-text small">いいね件数:<%= post.favorites.count %> 件</p>
      <h9 class="card-text small">コメント件数:<%= post.post_comments.count %>件</h9>
    </div>
    <div class="card m-4" style="height:200px; width:200px;"><%= image_tag post.image, size: "200x200" %></div>
    
   </div>
   </div>
   </tr>
   <% end %>
   
   <div class ="row offset-9">
    <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
   </div>
  </div>
 
 <% end %>


 <div class ="row offset-11">
  <%=link_to "機能一覧へ", choice_path %>
 </div>
 
</div>
 

