<div class="container-fluid">
  
 <div class="row mt-5 mb-5 offset-5">
  <h2>防災グッズを投稿する</h2>
 </div>
 
 
<%= form_with model: @post, url: posts_path do |f| %>

  <div class="form-group">
   <%= f.label:image , 'グッズ画像'  %>
   <%= f.file_field :image, accept: "image/*" %>
  </div>
  
  <div class="form-group">
   <%= f.label:item_name , 'グッズ名' %>
   <%= f.text_field :item_name %>
  </div>
  
  <div class="form-group">
   <%= f.label:item_description , 'グッズ説明' %>
   <%= f.text_area :item_description %>
  </div>
  
 <div class="form-group">
    <label for="tag_id" class="col-md-3 col-form-label">タグ</label>
    <div class="col-md-9">
    <%= f.select :tag_id, options_from_collection_for_select(Tag.all, :id, :name),{},{class: 'col-md-2'} %>
    </div>
  </div>
    
  <div class="form-group">
   <%= f.submit "投稿する"  %>
  </div>
  
<% end %>

<div>
<%= link_to '投稿一覧へ',  posts_path %>
</div>


