 <div class="jumbotron text-center mt-4" style="background-color: #BEECF7; margin: 0 auto; padding: 5px; border-radius: 30px; width: 35%;">
  <h2 class="m-0">防災グッズを投稿する</h2>
 </div>

 <div class="row justify-content-md-center mt-2">
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%= link_to "戻る", :back %></h4>
  </div>

<section class="jumbotron text-center mx-6 my-3" style="background-color: #d1e5d4;  width: 60%; margin: 0 auto; border-radius: 30px;">
 <div class="container">
  
 <h4 class="jumbotron-heading pb-3">投稿フォーム</h4>

  <div class="row justify-content-md-center">

  <%= form_with model: @post, url: posts_path do |f| %>
  <%= render 'layouts/error_messages', model: @post %>

  <div class="form-group mt-3">
       <%= f.label:image , 'グッズ画像'  %>
   <br><%= f.file_field :image, accept: "image/*" %>
  </div>
 
  <div class="form-group">
       <%= f.label:item_name , 'グッズ名' %>
   <br><%= f.text_field :item_name %>
  </div>
  
  <div class="form-group">
       <%= f.label:item_description , 'グッズ説明' %>
   <br><%= f.text_area :item_description %>
  </div>

  <div class="form-group">
       <%= f.label:name , 'タグ' %>
       <% @tag.each do |tag| %>
   <br>
        <%= check_box_tag 'post[tag_ids][]', tag.id, false, id: "tag_#{tag.id}" %>
        <%= label_tag "tag_#{tag.id}", tag.name %>
       <% end %>
  </div>
  
  <div class="form-group">
   <%= f.submit "投稿する"  %>
   <% end %>
  </div>
  
 </div>
  </div>
  </section>
  
  <div class="row my-2 offset-10">
  <% if current_admin.present? %>
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%= link_to "管理人機能一覧へ", admin_path %></h4>
  <% else %>
  <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%=link_to "機能一覧へ", choice_path %></h4>
  <% end %>
 </div>



