 <div class="row mt-5 mb-5 offset-5">
  <h2>検索フォーム</h2>
 </div>

 <!--キーワード検索-->
 <div class="row">
   <div class = "col-auto">
    <<%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.label :item_name, '投稿内容' %>
    <%= f.search_field :item_name %>
   </div>
   
   <div class = "col-auto">
    <%= f.submit '検索'%>
    <% end %>
   </div>
 </div>
  
<!--キーワード検索結果-->
<div class ="row mt-5 ml-3">
 <h5>検索結果</h5>
</div>

<div class="row mr-10">
 <% @posts.each do |post| %>
 <tr>
  <div class="card m-4" style="height:500px; width:400px;">
    <div class="card-body">
     <h5 class="card-title">商品名：<%= link_to post.item_name, post_path(post.id)%></h5>
     <p class="card-text">商品説明：<%= post.item_description %></p>
     <p class="card-text">いいね件数:<%= post.favorites.count %> 件</p>
     <p class="card-text">コメント件数</p>
     <p class="card-text">タグ:<%= post.tags.name %></p>
     <p class="card-text">投稿者:<%= post.user.name %></p>
    </div>
  </div>
 </tr>
 <% end %>

 <div class ="row offset-9">
  <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
 </div>
</div>
 
 <div class="row my-2 offset-10">
  <% if current_admin.present? %>
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%= link_to "管理人機能一覧へ", admin_path %></h4>
  <% else %>
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%=link_to "機能一覧へ", choice_path %></h4>
  <% end %>
 </div>
