<div class="container-fluid" style="height:700px;">
  
 <div class="row mt-5 mb-5 offset-5", style="border-bottom:3px solid #000;">
  <h2>防災グッズの詳細</h2>
 </div>

 <div class="row justify-content-md-center">
 <div class="col-auto">
  <div class="row align-items-start ml-5 mr-5">
   <h4 style="padding: 1rem 1rem; border-left: 6px double #000;"><%= link_to '投稿一覧へ',  posts_path %></h4>
  </div>
 </div>

<!--投稿の編集-->
 <% if @user == current_user %>
  <div class="col-auto">
   <h4 style="padding: 1rem 1rem; border-left: 6px double #000;"><%= link_to '投稿編集へ',  edit_post_path %></h4>
  </div>
  <% end %>
  
  <!--投稿の削除-->
 <% if @user == current_user %>
  <div class="row align-items-start ml-5 mr-5">
   <h4 style="padding: 1rem 1rem; border-left: 6px double #000;"><%= link_to '投稿を削除する', post_path(@post.id), method: :delete,  data: { confirm: '本当に消しますか？' } %></h4>
  </div>
 <% end %>
 </div>
 
<div class="row justify-content-around mt-5">
 
 <div class="col-6">
  <p style="padding: 1rem 2rem; border-left: 4px solid #000;">グッズ画像
   <br><%= image_tag @post.image, size: "200x200" %></p>
  <h5 style="padding: 1rem 2rem; border-left: 4px solid #000;">商品名
   <br><%= @post.item_name %></h5>
  <p style="padding: 1rem 2rem; border-left: 4px solid #000;">商品説明
   <br><%= @post.item_description %></p>
  <p style="padding: 1rem 2rem; border-left: 4px solid #000;">タグ
   <br><% @post.tags.each do |tag| %>
    <span><%= tag.name %></span>
          <% end %>
  </p>

  <!--いいね機能-->
  <% if current_admin.present? %>
   <p>いいね件数:<%= @post.favorites.count %> 件</p>
  
  <% else %>
  
   <% if @post.favorited_by?(current_user) %>
    <p>
     <%= link_to post_favorites_path(@post), method: :delete do %>
      <span style="color:red;">❤︎</span>
     <% end %>
     </p>
   <% else %>
    <p>
     <%= link_to post_favorites_path(@post), method: :post do %>
      <span>いいねをする</span>
     <% end %>
    </p>
   <% end %>
  <% end %>
 </div>

<!--コメント機能・件数-->
 <div class="col-6 ml-0">
  <p>コメント件数：<%= @post.post_comments.count %></p>
 <div>
 <!--コメント機能・作成-->
   <%= form_with model: [@post, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5',cols: '', placeholder: "コメントできます" %>
    <%= f.submit "送信する" %>
   <% end %>
 <!--コメント機能・表示-->
   
   <table class="table mt-3">
     <thead>
       <th scope="col">コメントしてくれた人</th>
       <th scope="col">コメント</th>
       <th scope="col">日程</th>
       <tH></tH>
     </thead>
     <tbody>
      <% @post.post_comments.each do |post_comment| %>
      <tr>
       <td><%= post_comment.user.name %></td>
       <td><%= post_comment.comment %></td>
       <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
       <td><% if post_comment.user == current_user || current_admin.present? %>
           　<%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete,  data: { confirm: '本当に消しますか？' } %>
           <% end %></td>
      </tr>
      <% end %>
     </tbody>
   </table>
 </div>
 </div>
 </div>

</div>
