<div class="container-fluid">
  
 <div class="row mt-5 mb-5 offset-5">
  <h2>防災グッズ詳細一覧</h2>
 </div>
 
<p>グッズ画像：<%= image_tag @post.image, size: "100x100" %></p>
<p>商品名:<%= @post.item_name %></p>
<p>商品説明:<%= @post.item_description %></p>
<p>タグ:<%= @post.tags.name %></p>
<!--いいね機能-->
 <% if @post.favorited_by?(current_user) %>
  <p>
   <%= link_to post_favorites_path(@post), method: :delete do %>
    <span style="color:red;">❤︎</span>
   <% end %>
  </p>
   <% else %>
  <p>
   <%= link_to post_favorites_path(@post), method: :post do %>
    <span>︎いいねをする</span>
   <% end %>
   </p>
 <% end %>

<div>
<%= link_to '投稿編集へ',  edit_post_path %>
</div>

<div>
<%= link_to '投稿一覧へ',  posts_path %>
</div>

</div>
