<!--タイトル-->
<%= render "user/homes/title", post:@post%>

 <!--メッセージ-->
 <div class="row justify-content-md-center">
  
  <div class="col-auto">
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%= link_to '投稿一覧へ',  posts_path %></h4>
  </div>

  <% if @user == current_user %>
  <div class="col-auto">
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%= link_to '投稿編集へ',  edit_post_path %></h4>
  </div>
  <% end %>
  
  <% if @user == current_user || current_admin.present? %>
  <div class="col-auto">
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%= link_to '投稿を削除する', post_path(@post.id), method: :delete,  data: { confirm: '本当に消しますか？' } %></h4>
  </div>
  <% end %>
 </div>


 <!--投稿詳細グッズ-->
 <div class="jumbotron text-center my-4" style="background-color: #d1e5d4; margin: 0 auto; padding: 20px; border-radius: 30px; width: 95%">
 <h4><%= @post.item_name %>の詳細情報</h4>
 
  <div class="row justify-content-around mt-5">
   
 <!--グッズの詳細-->
 <div class="col-6">
  
  <!--旧投稿情報-->
   <%= render 'item', post: @post %>

  <!--いいね機能-->
  <div class = "row text-left">
   
   <!--管理者の場合-->
 <% if current_admin.present? %>
  <div class = "col">
   <p>いいね件数:<%= @post.favorites.count %> 件</p>
  </div>
   
   <!--ユーザーの場合-->
  <% else %>
  
   <!--いいね機能の引き出し-->
   <%= render 'user/favorites/btn', post: @post %>
   
  <% end %>
 
  </div>
 </div>

<!--コメント機能・件数-->
 <div class="col-6 ml-0">
  
 <div class = "row text-left">
  <p>コメント件数：<%= @post.post_comments.count %></p>
 </div>
 
 <div class = "row text-left">
 <!--コメント機能・作成-->
   <%= form_with model: [@post, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', style: "width: 300px", placeholder: "コメントできます" %>
    <%= f.submit "送信する" %>
   <% end %>
 </div>
 
 <div class = "row">
 <!--コメント機能・表示-->
   <table class="table mt-3", style="background-color: #F1F8E1; border-radius: 30px;">
     <thead>
       <th scope="col">コメントしてくれた人</th>
       <th scope="col">コメント</th>
       <th scope="col">日程</th>
       <tH></tH>
     </thead>
     <tbody>
      <% @post.post_comments.each do |post_comment| %>
      <tr>
       <td><%= post_comment.user.name %></td>
       <td><%= post_comment.comment %></td>
       <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
       <td><% if post_comment.user == current_user || current_admin.present? %>
           　<%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete,  data: { confirm: '本当に消しますか？' } %>
           <% end %></td>
      </tr>
      <% end %>
     </tbody>
   </table>
 </div>
 
 </div>
 
 </div>
 
 </div>
 
 <div class="row my-2 offset-10">
  <% if current_admin.present? %>
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%= link_to "管理人機能一覧へ", admin_path %></h4>
  <% else %>
  <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BEECF7;"><%=link_to "機能一覧へ", choice_path %></h4>
  <% end %>
 </div>

