<div class="h-100 container-fluid" >

 <div class="row mt-5 mb-5 offset-5">
  <h2>防災グッズ詳細一覧</h2>
 </div>

<div class="row align-items-start ml-5 mr-5">
 <div class="col-6">
  <p>グッズ画像：<%= image_tag @post.image, size: "100x100" %></p>
  <p>商品名:<%= @post.item_name %></p>
  <p>商品説明:<%= @post.item_description %></p>
  <p><% @post_tags.each do |tag| %>
  <%=tag.name%><%="(#{tag.posts.count})" %><% end %></i>
  </p>

  <!--いいね機能-->
  <% if @post.favorited_by?(current_user) %>
   <p>
    <%= link_to post_favorites_path(@post), method: :delete do %>
     <span style="color:red;">❤︎</span>
  <% end %>
   </p>
  <% else %>
   <p>
    <%= link_to post_favorites_path(@post), method: :post do %>
     <span>︎いいねをする</span>
  <% end %>
   </p>
  <% end %>
 </div>

<!--コメント機能・件数-->
 <div class="col-6">
  <p>コメント件数：<%= @post.post_comments.count %></p>
 <div>
 <!--コメント機能・作成-->
   <%= form_with model: [@post, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
   <% end %>
 <!--コメント機能・表示-->
   <% @post.post_comments.each do |post_comment| %>
   <table class="table">
     <thead>
      <tr>
       <th scope="col">コメントしてくれた人</th>
       <th scope="col">コメント</th>
       <th scope="col">日程</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td><%= post_comment.user.name %></td>
       <td><%= post_comment.comment %></td>
       <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
     </tbody>
   </table>
   
 <div>
 <!--コメント機能・削除-->
   <% if post_comment.user == current_user %>
    <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
   <% end %>
   
   <% end %>
 </div>
 </div>
 </div>

<div class="row align-items-start ml-5 mr-5">
 <div class="col-auto">
  <%= link_to '投稿編集へ',  edit_post_path %>
 </div>

<div class="col-auto">
 <div class="row align-items-start ml-5 mr-5">
  <%= link_to '投稿一覧へ',  posts_path %> 
 </div>
</div>

</div>
</div>


