<div class="container-fluid">
  
 <div class="row mt-5 mb-5 offset-5">
  <h2>防災グッズ詳細一覧</h2>
 </div>
 
<p>グッズ画像：<%= image_tag @post.image, size: "100x100" %></p>
<p>商品名:<%= @post.item_name %></p>
<p>商品説明:<%= @post.item_description %></p>
<p>タグ:<%= @post.tags.name %></p>

<div>
<%= link_to '投稿編集へ',  edit_post_path %>
</div>

<div>
<%= link_to '投稿一覧へ',  posts_path %>
</div>



</div>


