 <div class="jumbotron text-center mt-4" style="background-color: #BDBDBD; margin: 0 auto; padding: 5px; border-radius: 30px; width: 35%;">
  <h2 class="m-0"><%= @user.name %>様マイページ</h2>
 </div>

 <!--メッセージ-->
 <div class="row justify-content-md-center mt-2">
  <div class="col-auto">
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BDBDBD;"><%= link_to "管理者トップへ" , admin_users_path %></h4>
  </div>
  <div class="col-auto">
   <h4 style="padding: 1rem 1rem; border-bottom: 5px solid #BDBDBD;"><%= link_to "会員一覧へ" , admin_users_path %></h4>
  </div>
  
 
 <section class="jumbotron text-center mx-6 my-3" style="background-color: #D9D9D9;  width: 90%; margin: 0 auto; padding: 20px; border-radius: 30px;">
  <div class="container">
  <h4 class="jumbotron-heading my-3"><%= @user.name %>さんのプロフィール</h4>

 <div class="row m-3">
   <div class="col-5 text-left">
    <h4>名前：</h4>
   </div>
   <div class="col-6">
    <h4><%= @user.name %></h4>
  </div>
</div>

<div class="row m-3">
   <div class="col-5 text-left">
    <h4>ひとこと：</h4>
   </div>
   <div class="col-6">
     <% if @user.introduction.present? %>
       <p><%= @user.introduction %></p>
     <% else %>
       <%= link_to edit_user_path(@user.id) do %>
       <p>ひとこと未設定</p>
     　<% end %>
     <% end %>
   </div>
</div>

 <div class = "row m-3">
   <div class="col-5 text-left">
    <h4>会員ステータス：</h4>
   </div>
   <div class="col-6">
    <% if @user.is_deleted? %>
     <p>退会	</p>
    <% else %>
     <p>有効</p>
    <% end %>
  </div>
 </div>
 
 <div class ="row m-3">
  <div class="col-5 text-left">
   <h4>ステータスを変更する：</h4>
  </div>
   <div class"col-3">
    <%= form_with model: @user, url: admin_user_path(@user) do |f| %>
     <%= f.radio_button :is_deleted, false %><%= f.label :is_active, "有効", class: "text-active" %>
     <%= f.radio_button :is_deleted, true %><%= f.label :is_active, "退会済み", class: "text-invalid" %>
    <%= f.submit "更新", class: "btn btn-primary" %>
   <% end %>
  </div>
 </div>
 


 <h4 class="pt-4"><%= @user.name %>さんの投稿一覧</h4>
 <% if @post.present? %>
 <div class="row mt-5">
  <% @post.each do |post| %>
   <tr>
    <div class="col-md-6 ">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250" style="background-color: #E8E8E8; border-radius: 30px;">
     <div class="card-body d-flex flex-column align-items-start">
      <strong class="d-inline-block mb-2 text-primary"><% post.tags.each do |tag| %><%= link_to tag.name, tags_path %><% end %></strong>
       <h5 class="card-title">商品名：<%= link_to post.item_name, post_path(post.id)%></h5>
       <p class="card-text">商品説明<br><%= post.item_description %></p>
       <p class="card-text small">いいね件数:<%= post.favorites.count %>件</p>
       <p class="card-text small">コメント件数:<%= post.post_comments.count %>件</p>
       
      <% if current_admin.present? %>
       <div class="card-text small">投稿者：<%= link_to post.user.name, admin_user_path(post.user_id) %></div>
      <% else %>
       <div class="card-text small">投稿者：<%= link_to post.user.name, user_path(post.user_id) %></div>
      <% end %>
     </div>
    <div class="card m-4" style="height:200px; width:200px;"><%= image_tag post.image, size: "200x200" %></div>
   </div>
   </div>
   </tr>
   
  <% end %>
  
  </div>
  
  <div class ="row offset-9">
   <%= paginate @post, theme: 'twitter-bootstrap-4' %>
  </div>
  
 <% else %>
 <div class="row m-3 mt-5">
   <h4>投稿がありません</h4>
 </div>
 <% end %>
   
</div>



