<!DOCTYPE html>
<html>
  <head>
    <title>PFMine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
  <!--ヘッダー-->
   <%= render 'layouts/header' %>
  <!--メイン-->
   <main style="padding-bottom: 80px">
   <%= yield %>
   </main>
  
  <!--フッターー-->
  　<% if user_signed_in? %>
　　 <footer class="fixed-bottom" style="background-color: #9AB2FA;">
　　<% elsif admin_signed_in? %>
　　 <footer class="fixed-bottom" style="background-color: #393939;">
　　<% else %>
　　 <footer class="fixed-bottom"style="background-color: #B0E683;">
　　<% end %>
    <div class="container">
     <div class="row no-gutters">
      <div class="col-md-4"></div>
     </div>
    </div>
    </footer>
  </body>
</html>

<!--勉強-->
<!--ハンバーガメニューの参考サイト：https://www.manajob.jp/bootstrap/bootstrap/bootstrap-navigation-->


