<!DOCTYPE html>
<html>
  <head>
    <title>PFMine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     <nav class="navbar navbar-dark bg-dark">
     <div class="container-fluid">
  <!--ロゴ-->
      <div class="row">
      <!--(後で消す：ブランドのclassをこれで表記するらしい)-->
       <a class="navbar-brand" href="#">
      <!--(後で消す：サイズはそのままだとピクセル。%をつけることも可能.altタグは何らかの理由で画像が表示できない場合に表示するテキスト)-->
       <img src="/assets/logo.png" alt="" width="80" height="90" class="rounded mx-auto d-block">
       </a>
      </div>
  <!--サイト名-->
      <div class="row text-white mr-5" style="font-size: 20px;">防災グッズサーチ</div>
  <!--ウェルカムメッセージ-->
      <% if user_signed_in? %>
      <h6 class="text-center my-0 text-white">ようこそ、<%= current_user.name %>さん！</h6>
      <% end %>
  <!--メニュー-->
      <div class="row">
      <!--ハンバーガーメニューのアイコン-->
      <!--（後で消す：↓data-targetとaria-controlsは同じidにする必要がある)-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!--(後で消す:↓これでハンバーガーメニューの3本線を記入する)-->
      <span class="navbar-toggler-icon"></span>
      </button>
      
      <!--ハンバーガーメニューの中身-->
      <!--（後で消す：↓data-targetとaria-controlsはidと同様の数値にする必要がある)-->
      <!--(後で消す：ul タグには navbar-nav クラス ,li タグには nav-item クラス を指定する,a タグには nav-link クラス を指定する)-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active m-0">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active m-0">
            <a class="nav-link" href="/about">About</a>
          </li>
        <!--サインイン時-->
         <% if user_signed_in? %>
          <li class="nav-item active m-0">
            <%= link_to "機能一覧", choice_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active m-0">
            <%= link_to "ユーザーLog out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <!--管理者サインイン時-->
         <% elsif admin_signed_in? %>
            <%= link_to "管理者Log out", destroy_admin_session_path, method: :delete, class: 'nav-link' %>
        <!--サインしていない時-->
         <% else %>
          <li class="nav-item active m-0">
           <a class="nav-link" href="/users/sign_in">ログイン</a>
          </li>
          <li class="nav-item active m-0">
           <a class="nav-link" href="/users/sign_up">会員登録</a>
          </li>
         <% end %>
        </ul>
      </div>

    </header>
  
    
    <main style="padding-bottom: 80px">
     <%= yield %>
    </main>
    
　　<footer class="bg-dark pt-5 pb-10 fixed-bottom">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>


<!--勉強-->
<!--ハンバーガメニューの参考サイト：https://www.manajob.jp/bootstrap/bootstrap/bootstrap-navigation-->
