<!DOCTYPE html>
<html>
  <head>
    <title>PFMine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     <nav class="navbar navbar-dark bg-dark">
     <div class="container-fluid">
  <!--ロゴ-->
      <div class="row">
      <!--(後で消す：ブランドのclassをこれで表記するらしい)-->
       <a class="navbar-brand" href="#">
       <img src="/assets/logo.png" alt="" width="80" height="90" class="rounded mx-auto d-block">
       </a>
      </div>
  <!--サイト名-->
      <div class="row text-white mr-5" style="font-size: 20px;">防災グッズサーチ</div>
  <!--メニュー-->
      <div class="row">
      <!--ハンバーガーメニュー-->
      <!--（後で消す：↓data-targetとaria-controlsは同じidにする必要がある)-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!--(後で消す:↓これでハンバーガーメニューの3本線を記入する)-->
    　<span class="navbar-toggler-icon"></span>
      </button>
      </div>
    </header>
  
    
    <main>
     <%= yield %>
    </main>
   <footer>フッター</footer>
  </body>
</html>


<!--勉強-->
<!--imgは画像を表示するタグでした。src属性では表示する画像のパスを指定します
また、alt属性では、何らかの理由で画像が表示できない場合に表示するテキストを指定します。-->
<!--<img src="sample.gif" alt="サンプル" width="300" height="200">⇨そのままだとピクセル。%をつけることも可能-->
<!--bootstrapとcss共存の例：<div class="mx-auto" style="width: 200px;">-->