<!DOCTYPE html>
<html>
  <head>
    <title>PFMine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  <!--(ユーザー側機能一覧画面のcss)-->
  <% if request.path == '/choice' %>
   <%= stylesheet_link_tag 'choice', media: 'all', 'data-turbolinks-track': 'reload' %>
  <% end %>

  <!--(ユーザー側マイページ)-->
  <% if request.path.starts_with?('/users') %>
     <%= stylesheet_link_tag 'user/shows', media: 'all', 'data-turbolinks-track': 'reload' %>
  <% end %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
  <!--ヘッダー-->
   <%= render 'layouts/header' %>
   
  <!--メイン-->
  <main style="padding-bottom: 20px">
   <%= yield %>
  </main>
  

<!--勉強-->
<!--ハンバーガメニューの参考サイト：https://www.manajob.jp/bootstrap/bootstrap/bootstrap-navigation-->

  <% if user_signed_in? %>
　<footer class="pt-3" style="background-color: #9AB2FA; height:100px;">
　<% elsif admin_signed_in? %>
　<footer class="pt-3" style="background-color: #393939; height:100px;">
　<% else %>
　<footer class="pt-3" style="background-color: #B0E683; height:100px;">
　<% end %>
  <div class="container">
    <p class="float-right">
     <i class="fab fa-twitter ml-2" style="font-size:2em; color: #ffffff;"></i>
     <i class="fab fa-instagram ml-2" style="font-size:2em; color: #ffffff;"></i>
     <i class="fab fa-line ml-2" style="font-size:2em; color: #ffffff;"></i>
     <i class="fab fa-facebook-square ml-2" style="font-size:2em; color: #ffffff;"></i>
    </p>
    <p>@PF_mine 2023-04-25</p>
  </div>
</footer>
</body>
</html>