<!DOCTYPE html>
<html>
  <head>
    <title>PFMine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="<%= (user_signed_in? ? "user_header" : "" ) %>">
      <div class="header-content">
       <ul class="flex">
       <% if admin_signed_in? %>
        <li><%#= link_to '商品一覧',  admin_items_path %></li>
        <li><%#= link_to '会員一覧',  admin_customers_path %></li>
        <li><%#= link_to '注文履歴一覧',  admin_orders_path %></li>
        <li><%#= link_to 'ジャンル一覧',  admin_genres_path %></li>
        <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
      <% elsif user_signed_in? %>
        <li><%#= link_to 'マイページ', mypage_path %></li>
        <li><%#= link_to '商品一覧', items_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% end %>
        </ul>
         </div>
    </header>
    
    <main>
     <%= yield %>
    </main>
   <footer>フッター</footer>
  </body>
</html>

